body{
    background-image: url('images/starsBackground.svg');
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el scroll vertical */
}

.container{
    margin-top: -450px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*ajusta la altura */
    position: relative; /* A침adimos posici칩n relativa al contenedor para posicionar elementos internos */
}

.image1 {
    max-width: 15%;
    margin-top: 200px;
    margin-right: 50px; /* Ajusta el margen derecho para separar las im치genes */
  }
  
  .spacecraft {
    max-width: 7%; /* Ajusta el tama침o de la segunda imagen */
    position: absolute;
    bottom: 150px; /* Ajusta la distancia desde la parte inferior */
    left: 700px; /* Ajusta la distancia desde la izquierda */
  }

h1{
    margin-top: 110px;
    font-size: 11rem;
    text-align: center;
    color: white;
}
h2{
    margin-top: -100px;
    font-size: 4rem;
    text-align: center;
    color: white;
}

h3{
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
    color: white;
}

h1, h2, h3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}